
@media (min-width: 750px){
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	body{
		background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
		height: 100vh;
		box-sizing: border-box;
	}
	.title{
		position: relative;
		top: 0;
		width: 80%;
		/* background:rgba(0,0,0,.5); */

		text-align: center;		
	}
	.container{
		width: 100%;
		/* box-sizing: border-box; */
	}
	.header{
		display: flex;
		width: 100%;
		/* background: brown; */
	}
	.list{
		width: 70%;
		/* background: rgb(255, 255, 255); */
		display: flex;
	}
	.jugadas{
		width: 100%;
		display: flex;
		flex-direction: column;
		list-style: none;
		justify-content: space-evenly;
		font-size: 18px;
		font-weight: bold;
	}

	.baraja{
		width: 30%;
		/* background: darkkhaki; */
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.baraja img{
		width: 150px;
		height: 225px;
	}
	.jugadas li{
		padding: 0;
		margin: 0;
		text-decoration: none;
		letter-spacing: .5px;
	}
	/* estilos cuerpo */
	.cuerpo{
		padding-top: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.juego{
		/* background: crimson; */
		display: flex;
		justify-content: space-between;
	
	}
	.card{
		margin: 6px;
	}

	.card img{
		width: 135px;
		height: 210px;
	}
}