
@media (min-width: 750px){
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	body{
		background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
	}
	.title{
		position: relative;
		top: 0;
		right: 5%;
		width: 80%;
		/* background:rgba(0,0,0,.5); */
		
		text-align: center;		
	}
	.container{
		box-sizing: border-box;
		height: 100vh;
		width: 100%;
		position: relative;
	}
	.header{
		display: flex;
		width: 100%;
		/* background: brown; */
	}
	.list{
		width: 70%;
		/* background: rgb(255, 255, 255); */
		display: flex;
	}
	.jugadas{
		width: 100%;
		display: flex;
		flex-direction: column;
		list-style: none;
		justify-content: space-evenly;
		font-size: 18px;
		font-weight: bold;
	}

	.baraja{
		width: 30%;
		/* background: darkkhaki; */
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.baraja img{
		width: 150px;
		height: 225px;
	}
	.jugadas li{
		padding: 0;
		margin: 0;
		text-decoration: none;
		letter-spacing: .5px;
	}
	/* estilos cuerpo */
	.cuerpo{
		padding-top: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.juego{
		/* background: crimson; */
		display: flex;
		justify-content: space-between;
	
	}
	.card{
		margin: 6px;
	}

	.card img{
		width: 135px;
		height: 210px;
	}
	/* .card:hover{

	} */
	.contBotones{
		background: rgba(220, 20, 60, .3);
		position: fixed;
		bottom: 0px;
		height: 120px;
		width: 100%;

		display: flex;
		justify-content: space-around;
		align-items: center;
		
	}
	.colBotones{
		display: flex;
		flex-direction: column;
		height: 120px;
		justify-content: center;
		align-items: center;
	}
}