@font-face {
	font-family: "Lato";
	src: url('../fonts/Lato-Regular.ttf'); 
}
@media(max-width: 749px){
	body{
		margin: 0;
		padding: 0;	
		font-family: 'Lato' ;
	}
	.container{
		visibility: hidden;
		display: none;
	}
	.res{
		display: flex;
		background: #008793;
		width: 100%;
		height: 100vh;
		justify-content: center;
		align-items: center;
		font-size: 3em;
		flex-wrap: nowrap;
	}
}
@media(min-width: 750px){
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: 'Lato';
	}
	.res{
		display: none;
	}
	body{
		background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
	}
	.title{
		position: relative;
		top: 0;
		right: 5%;
		width: 80%;
		/* background:rgba(0,0,0,.5); */
		
		text-align: center;		
	}
	.container{
		box-sizing: border-box;
		height: 100vh;
		width: 100%;
		position: relative;
	}
	.header{
		display: flex;
		width: 100%;
		/* background: brown; */
	}
	.list{
		width: 70%;
		/* background: rgb(255, 255, 255); */
		display: flex;
	}
	.jugadas{
		width: 100%;
		display: flex;
		flex-direction: column;
		list-style: none;
		justify-content: space-evenly;
		font-size: 18px;
		font-weight: bold;
	}

	.baraja{
		width: 30%;
		/* background: darkkhaki; */
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.baraja img{
		width: 150px;
		height: 225px;
	}
	.jugadas li{
		padding: 0;
		margin: 0;
		text-decoration: none;
		letter-spacing: .5px;
	}
	/* estilos cuerpo */
	.cuerpo{
		padding-top: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.juego{
		/* background: crimson; */
		display: flex;
		justify-content: space-between;
	
	}
	.card{
		margin: 6px;
	}

	.card img{
		width: 135px;
		height: 210px;
	}
	/* .card:hover{

	} */
	.contBotones{
		background: rgba(220, 20, 60, .3);
		position: fixed;
		bottom: 0px;
		height: 90px;
		width: 100%;

		display: flex;
		justify-content: space-around;
		align-items: center;
		
	}
	.colBotones{
		display: flex;
		flex-direction: column;
		/* background: #000; */
		height: 90px;
		justify-content: center;
		align-items: center;
		font-size: 18px;
		font-weight: bold;
	}
	.colBotones p{
		text-align: center;
	}
	.colBotones button{
		text-transform: uppercase;
		font-size: 17px;
		font-weight: bold;
		padding: 5px 10px;
	}
	.colBotones input{
		padding: 3px 10px;
		color: white;
		background: black;
	}
	.apuesta, .credito{
		width: 90px;
		height: 50px;
		text-align: right;
		font-size: 24px;
	}
	.btnTabla{
		width: 120px;
	}
}
/* responsive 1000px */

@media(min-width: 1024px){
	.title{
		font-size: 2.7em;
	}
	.jugadas{
		font-size: 1.5em;
	}
	.baraja img{
		width: 175px;
		height: 250px;
	}
	.card img{
		width: 175px;
		height: 250px;
	}
	.contBotones{
		height: 110px;
	}
}